
<div id="dropin-wrapper">
  <div id="main-message-container"></div>
  <div id="information-container">
  <h1>Help us keep our website running</h1>
  <p>
    Hi there, thank you for visiting our website.
    As you know, we provide our content to our visitors for free.
  </p>
  <p>If you will like to contribute to our running costs, you can use this form to donate to us.</p>
  </div>
  <div id="donor-details">
    <form novalidate="true" action="#">
      <fieldset>
        <label for="name-input">Your name</label>
        <div class="input-container">
        <input type="text" id="name-input" name="name-input" placeholder="Good samaritan">
        </div>
        <p id="donor-name-error-field"></p>
      </fieldset>
      <fieldset>
      <label for="donation-input">Donation amount (USD)</label>
      <div class="input-container">
        <input type="number" id="donation-input" name="donation-input" placeholder="10">
      </div>
      <p id="donation-amount-error-field"></p>
    </fieldset>
    <input type='hidden' id='device-data'/>
    </form>
  </div>
  <div id="dropin-container"></div>
  <div id="payment-button-container"></div>
</div>
<script src="/javascripts/donation-app-client.js"></script>
